<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="auth-style.css">
</head>
<body>
<div class="navbar">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="/signup">Signup</a></li>
    </ul>
</div>
<form action="/login" method="post">
    <h2>Login</h2>
    <label>
        <input type="text" name="username" placeholder="Enter your username"><br>
    </label>
    <label>
        <input type="password" name="password" placeholder="Enter your password"><br>
    </label>
    <input type="submit" value="Login">
</form>
</body>
</html>